---
layout: default
---
{% include nav/header_nav_land.html %}
{% include main/hero.html %}
{% include main/about.html %}
{% include main/featured.html %}
{% include main/pricing.html %}

<!-- Testimonials
================================================== -->
<section id="testimonials" class="tp--section tp--section-dark tp--gradient-3 tp--diagonal tp--diagonal-1 tp--testimonials tp--testimonials-2  text-center text-sm-left">
  <div class="page-header text-center tp--title-overlay">
    <h2 data-title="Testimonials"><span class="editable">Testimonials</span></h2>
  </div>
  <div class="container">
    <div class="row">
      <!-- Testimonial -->
      {% include main/testimonials.html %}
    </div>
  </div>
</section>

{% include main/extra_features.html %}
