<!-- jQuery -->
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>

<!-- Bootstrap Plugins -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<!-- Template Plugins -->
<script src="{{ site.baseurl }}/js/plugins/classie/classie.js"></script>
<script src="{{ site.baseurl }}/js/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins/isotope/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins/modernizr/modernizr-custom.js"></script>
<script src="{{ site.baseurl }}/js/plugins/aos/aos.js"></script>
<script src="{{ site.baseurl }}/js/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins/loaders-css/loaders.css.js"></script>

<!-- Template Javascript -->
<script src="{{ site.baseurl }}/js/main.js"></script>
