---
layout: default
---
{% include nav/header_nav_page.html %}
{% include page_sections/inner_page_header.html %}

{% include main/pricing.html %}
<!-- Content
================================================== -->
<section id="faq" class="tp--section">
  <div class="page-header text-center">
    <h3 class="editable">Frequently asked questions</h3>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        {% for item in site.data.settings.faq %}
          <div class="col-sm-6 m-bottom-sm-60">
            <h4>{{ item.title }}</h4>
            <p>{{ item.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
</section>
